<div>
  <div class="text-gray-700 text-3xl max-w-7xl text-center mx-20 my-32">
      <p class="font-homeContentTwo font-semibold"> Please check out all the cool recipes!<br>
      If you want to see a cooking course,<br> click the courses page and explore! 
      You can subscribe here!<br> Soon you'll be cooking in your own home.
      </p>
  </div>
</div>